:root {
  --border-light: hsl(210, 14%, 89%);
  --border-dark: hsl(210, 14%, 68%);

  --valid-color: hsl(158, 64%, 52%);
  --invalid-color: hsl(0, 72%, 51%);

  --percentile-0: hsl(5, 70%, 68%);
  --percentile-50: hsl(44, 100%, 70%);
  --percentile-100: hsl(151, 42%, 54%);

  --bg-dark: hsl(210, 16%, 93%);
}

th,
td {
  padding: 0.5rem 0.33rem;
  vertical-align: middle;
  border-top: 1px solid var(--border-light);
}

button {
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(212, 96%, 78%);
}

main > * + * {
  margin-top: 1rem;
}
