:root {
  --border-light: hsl(210, 14%, 89%);

  --valid-color: hsl(158, 64%, 52%);
  --invalid-color: hsl(0, 72%, 51%);
}

th,
td {
  padding: 0.5rem 0.33rem;
  vertical-align: middle;
  border-top: 1px solid var(--border-light);
}

button {
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(212, 96%, 78%);
}

main > * + * {
  margin-top: 1rem;
}
